! Xresources file
URxvt*scrollBar:       false
URxvt*scrollBar_right: false
URxvt*saveLines:       5000
URxvt*loginShell:      true
Xft.dpi:               96
URxvt*font:            xft:dina:size=8
URxvt*imFont:          -misc-sazanami*

*.foreground:  #b3b8c3
*.background:  #0C090A
*.cursorColor: #a47996
!
! Black
*.color0:      #0C090A
*.color8:      #1e1e1e
!
! Red
*.color1:      #a47996
*.color9:      #a47996
!
! Green
*.color2:      #87b379
*.color10:     #87b379
!
! Yellow
*.color3:      #e5c179
*.color11:     #e5c179
!
! Blue
*.color4:      #7d8fa4
*.color12:     #7d8fa4
!
! Magenta
*.color5:      #a47996
*.color13:     #a47996
!
! Cyan
*.color6:      #85a7a5
*.color14:     #85a7a5
!
! White
*.color7:      #b3b8c3
*.color15:     #eeeeee

URxvt.perl-ext-common: default,matcher,filter-paste,keyboard-select
URxvt.url-launcher:    /usr/bin/firefox
URxvt.matcher.button:  1
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-Delete:     matcher:select
URxvt.keysym.C-Delete:     matcher:list

! Disable ISO 14755 unicode input so I can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
